.container{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 64px;
    width:132px;
    border-radius: 100px;
    border:0;
    transform: rotate(-45deg);
    background:linear-gradient(90deg, #d7e2f1 50%, #cd2b5b 50%);
    overflow: hidden;
    position: relative;
    outline: 0;
    &::after{
        position: absolute;
        // display: block;
        content: "";
        width:64px;
        height:14px;
        border-radius: 100px;
        background:rgba(#FFF, .5);
        top:15px;
        left:25px;
    }
    &::before{
        position: absolute;
        content: "";
        width:150%;
        height: 100%;
        border-radius: 100px;
        background:rgba(#FFF, .25);
        top:-25px;
        left:-55px;
    }
}